@import url('https://fonts.googleapis.com/css?family=Expletus+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cherry+Bomb');

::-webkit-calendar-picker-indicator {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23359A45" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    border: solid 10px transparent;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #99d2a26e;
    border: solid 3px transparent;
}

html,
body {
    height: 100%;
}

body {
    background: rgba(204, 234, 208, 1);
    color: #1F6129;
    caret-color: #1F6129;
    display: flex;
    flex-direction: column;
}

hr {
    border-color: #359A45;
    border-width: 2px;
}

.navbar {
    padding: 10px 10px 10px 10px;
}

.navbar-toggler {
    box-shadow: none;
    border: none;
    padding: 0;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 4px #359a4630;
}

.navbar-toggler-icon {
    font-size: 1.3em;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2831, 97, 41, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.offcanvas {
    padding: 30px 30px 0 30px;
    flex-grow: 0;
}

.offcanvas-title {
    font-family: 'Cherry Bomb';
    font-size: 2rem;
}

.btn-close {
    background: none;
    width: fit-content;
    height: fit-content;
    color: #99d2a2;
    opacity: 1;
}

.btn-close:hover {
    color: #359A45;
}

.offcanvas-header .btn-close {
    padding: 0;
    margin-top: calc(var(--bs-offcanvas-padding-y) * -.5);
    margin-right: calc(var(--bs-offcanvas-padding-x) * -.5);
    margin-bottom: calc(var(--bs-offcanvas-padding-y) * -.5);
}

.btn-close:focus {
    box-shadow: 0 0 0 4px #99d2a2c2;
}

.btn-close>.bi {
    font-size: 2rem;
    line-height: 1;
    font-style: normal;
}

.btn-close>.bi::after {
    line-height: 1;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
    font-family: 'Cherry Bomb';
    color: #359A45;
    font-size: 32px;
}

coloru {
    color: #99d2a2;
}

.nav-item {
    font-size: 20px;
    font-weight: 700;
}

.nav-item-divider {
    background-color: #99d2a2;
    height: 2px;
    width: 100%;
}

.nav-link {
    color: #1F6129;
}

.nav-link:focus,
.nav-link:hover,
.navbar-nav .nav-link.active {
    color: #359A45;
}

.nav-link.active:hover {
    color: #99D2A2;
}

.page-template {
    padding-top: 30px;
    background-color: white;
    border-radius: 50px 0 0 0;
    flex-grow: 1;
}

.page-content {
    flex-grow: 1;
    padding: 0 20px 30px 20px;
}

.page-title {
    font-size: 28px;
    color: #1F6129;
    font-weight: bold;
    text-transform: uppercase;
}

.healthiu-form {
    padding: 0 1.25rem;
}

.form-group {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-group>label {
    color: #1F6129;
    font-size: 18px;
}

.form-control {
    transition-property: border-color, box-shadow;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
}

.form-control:focus {
    box-shadow: 0 0 0 3px #99d2a2c2;
}

.form-control::placeholder {
    color: #359A45;
}

.form-control,
.form-control:focus {
    color: #1F6129;
    border-color: #359A45;
    border-width: 2px;
    caret-color: #1F6129;
}

.form-control:read-only {
    color: #1F6129;
    background-color: #ccead0;
    font-weight: bold;
}

select.form-control {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%231F6129' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

select.form-control:read-only {
    color: #1F6129;
    background-color: transparent;
    font-weight: normal;
}

.form-control[type="date"] {
    color: #359A45;
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    background-color: #99d2a2c2;
    color: #1F6129;
    outline: none;
}


.invalid-input,
.invalid-input:empty,
.register-invalid-input,
.register-invalid-input:empty {
    color: #f5886e;
    font-size: 16px;
    width: fit-content;
    margin: 10px auto;
    border-top: solid 2px rgba(250, 128, 114, 0.299);
    white-space: pre-wrap;
}

.register-invalid-input,
.register-invalid-input:empty {
    margin: 5px auto;
}

.btn-lg {
    --bs-btn-padding-y: 0.7rem;
    --bs-btn-padding-x: 15%;
    --bs-btn-font-size: 24px;
    --bs-btn-border-radius: 20px;
    font-weight: bold;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #99d2a2;
    --bs-btn-border-color: #99d2a2;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #1F6129;
    --bs-btn-hover-border-color: #1F6129;
    --bs-btn-focus-shadow-rgb: 153, 210, 162;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #359A45;
    --bs-btn-active-border-color: #359A45;
    --bs-btn-active-shadow: 0 0 0 3px rgba(153, 210, 162, 0.761);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #99d2a2c2;
    --bs-btn-disabled-border-color: #99d2a2c2;
}

.two-btn-row {
    display: flex;
    flex-direction: column;
}

.two-btn-row .btn-lg {
    margin: 10px 0;
}


.form-btn-divider {
    height: 1rem;
}

.profile-template .form-btn-divider {
    height: 20px;
    margin: 0;
}

.request-chatroom-template {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.request-chatroom-request {
    padding: 0 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.request-chatroom-request .form-btn-divider {
    margin-top: 1rem;
}

.request-chatroom-text {
    font-size: 18px;
    text-align: center;
}

.requested-chatroom-text {
    font-size: 36px;
    font-weight: bold;
    color: #359A45;
}

.requested-chatroom-icon {
    width: 7rem;
    height: 7rem;
    margin: auto;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-chat-heart-fill" viewBox="0 0 16 16"><path fill="%2399d2a2" d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15Zm0-9.007c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/></svg>');
    background-repeat: no-repeat;
    background-size: contain;
}

.test-result-template {
    font-size: 18px;
}

.list-group {
    width: 100%;
    margin: 1rem auto;
}

.list-group-item {
    color: #1F6129;
    border-color: #99d2a2;
}


.show-test-template .container {
    /* border: solid 2px #99D2A2;
    padding: 20px;
    border-radius: 10px; */
}

.show-test-template .requested-chatroom-text {
    font-size: 30px;
    color: #359a46;
    margin-bottom: 1rem;
}

.show-test-template .row {
    padding: 5px;
    margin: 0;
}

.show-test-template .col {
    border: solid 1px #99D2A2;
    margin: 0;
    padding: 0;
    border-radius: 2px;
}

.show-test-template .show-test-row .row {
    padding: 0;
}

.show-test-template .show-test-row .col {
    border: none;
}

.show-test-template .show-test-row .show-test-col-1 {
    border-bottom: solid 1px #99D2A2;
    background-color: #ccead05d;
}

.show-test-template .show-test-row .show-test-col-2 {
    font-weight: bold;
    margin: 3px 0;
}

.show-test-template .page-content {
    padding: 10px 20px 0 20px;
}

.chatroom-template {
    display: flex;
    flex-direction: column;
}

.chatroom-template .page-content {
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.chatroom-messaging {
    width: calc(100% - 2rem);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.doctor-chatroom-messaging {
    width: calc(100% - 60px);
}

.chatroom-template .page-title {
    font-size: 24px;
}

.chatroom-template hr {
    margin: 5px;
}

.chatroom-chat-window {
    width: 100%;
    max-width: 1400px;
    height: 450px;
    margin: auto;
    border-radius: 0;
    background-color: #ccead05d;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chatroom-title {
    width: 100%;
    padding: 5px 0;
    text-align: center;
    color: #1F6129;
    font-size: 18px;
}

.messages {
    position: relative;
    list-style: none;
    padding: 20px 20px 0 20px;
    margin: 0;
    bottom: 0;
    height: 4vh;
    transition: height 1s;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    flex-grow: 1;
}

.messages.open {
    height: 347px;
}

.messages .message {
    clear: both;
    overflow: hidden;
    margin-bottom: 10px;
    transition: all 0.5s linear;
    opacity: 0;
    font-size: 16px;
    text-align: start;
    overflow-wrap: break-word;
}

.messages .message.left .text-wrapper {
    background-color: #ffffff;
    margin-left: 0;
}

.messages .message.right .text-wrapper {
    background-color: #ccead0;
    margin-right: 0;
}

.messages .message.appeared {
    opacity: 1;
}

.messages .message .text-wrapper {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    width: calc(100% - 20px);
    min-width: 100px;
    position: relative;
    border: solid 2px #359A45;
}

.chatroom-template .form-group {
    width: 100%;
    padding: 10px 10px 0 10px;
    bottom: 0;
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.chatroom-textarea {
    height: 6rem;
    box-sizing: border-box;
    color: #1F6129;
    background: white;
    border: solid 2px #99d2a2;
    box-shadow: 0 4px 1px #99d2a26e;
    padding: 10px;
    border-radius: 20px;
    flex-grow: 1;
}

.chatroom-template .form-control {
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    color: #1F6129;
    background: transparent;
    font-size: 16px;
    padding: 0;
    resize: none;
}

.chatroom-template .form-control:focus {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.chatroom-template .send-message {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    padding: 0;
    border: none;
    margin-left: 20px;
}

.chatroom-template .send-message .bi {
    width: 60px;
    font-size: 30px;
}

.chatroom-template .offcanvas-body {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.chatroom-doctor-content {
    margin: auto;
}

.doctor-content-btn {
    color: #99d2a2;
    background: transparent;
    font-size: 24px;
    padding: 0;
    border: none;
    margin: 0 1rem;
}

.doctor-content-btn:hover {
    color: #1F6129;
    border: none;
    padding: 0;
}

.chatroom-doctor-title {
    border-top: solid 2px #99d2a26e;
    border-bottom: solid 2px #99d2a26e;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
}

.chatroom-doctor-list {
    overflow-y: auto;
}

.chatroom-template .list-group {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

.chatroom-template .list-group-item {
    cursor: pointer;
}

.chatroom-template .list-group-item a {
    color: #1F6129;
    text-decoration: none;
}

.chatroom-template .list-group-item:hover a {
    color: #359A45;
}

.admin-chatroom-template .page-content {
    padding: 0 5rem;
}

.admin-request-window {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
}

.admin-chatroom-template .login-list {
    width: 20rem;
}

.admin-chatroom-template .login-list p {
    line-height: 1.5em;
    height: 3em;
    font-size: 16px;
    font-weight: bold;
    color: #359A45;
    text-transform: uppercase;
}

.admin-request-window .list-group {
    height: 12rem;
    overflow-y: auto;
}

.user_login_input_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem 0.2rem;
}

.user_login_input_wrapper .form-control {
    margin: 1rem 1rem;
}

.admin-chatroom-add-chatroom {
    margin: 0.1rem 0.2rem 1rem 0.2rem;
}

.message_template {
    display: none;
}

.chat_room_template {
    display: none;
}

.user_request_template {
    display: none;
}

.doctor_request_template {
    display: none;
}

.chat_room_style {
    color: #359A45;
}

.user_request_style {
    color: #f5886e;
}

.doctor_request_style {
    color: #359A45;
}

.hidden {
    display: none;
}

.test-template .question{
    font-size: 18px;
    margin: 0 0 1rem 0;
}


.test-template .picture{
    max-height: 250px;
    border-radius: 20px;
}

.radio-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
}

.radio-row li{
    margin: 0 2rem;
}

.radio-row li label{
    margin: 0 0.5rem;
}

.form-check-input{
    border: solid 2px #359A45;
}

.form-check-input:active,  .form-check-input:checked{
    background-color: #99d2a2;
    border: solid 4px #359A45;
    box-shadow: 0 0 0 3px #99d2a2c2;
}

.form-check-input:focus{
    border: solid 2px #359A45;
    box-shadow: 0 0 0 3px #99d2a2c2;
}

.test-input {
    margin: 1rem auto;
}

.test-input form-control {
    width: 100%;
}

.start-test-page {
    margin-bottom: 1rem;
}

.input-group-text {
    color: #359A45;
    background-color: #ccead05d;
    border: solid 2px #359A45;
    border-radius: 0 20px 20px 0;
    height: 100%;
    border-left: none;
}

.page-not-found-template {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 1rem;
}

.page-not-found-template .form-btn-divider {
    margin: 1rem;
}

.page-not-found-template .page-title {
    margin: 1rem;
}

.valid {
    color: #359A45;
    border-top-color: #99D2A2;
}

.test-result-template .page-content {
    padding: 0 3rem 0 3rem;
}

goodprod {
    font-weight: bold;
    color: #359A45;
}

badprod {
    font-weight: bold;
    color: #f5886e;
}

.doctor-button {
    width: 100%;
    margin: 1rem auto;
}

.show-user-test-template .two-btn-row {
    margin: 1rem auto;
}






@media (min-width: 576px) {
    .offcanvas {
        border-radius: 20px 0 0 20px;
    }

    .chatroom-template .offcanvas {
        border-radius: 0 20px 20px 0;
    }

    .navbar {
        padding: 10px 50px 10px 50px;
    }

    .healthiu-form {
        padding: 0 5rem;
    }

    .col-sm-2 {
        width: 100%;
    }

    .col-sm-10 {
        width: 100%;
    }

    .request-chatroom-request {
        padding: 0 5rem;
    }

    .request-chatroom-request .form-btn-divider {
        margin-top: 2rem;
    }

    .request-chatroom-text {
        text-align: center;
    }

    .messages .message.left .text-wrapper {
        margin-left: 20px;
        float: left;
    }

    .messages .message.right .text-wrapper {
        margin-right: 20px;
        float: right;
    }
}

















@media (min-width: 992px) {
    body {
        padding: 0 20px 0 20px;
    }

    .navbar {
        background-color: white;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 4px 1px #99d2a26e;
    }

    .navbar-expand-lg .offcanvas {
        flex-grow: 0;
        padding: 0;
    }

    .navbar-nav {
        align-items: center;
    }

    .nav-item-divider {
        width: 2px;
        margin: 10px;
        height: 60%;
        display: inline;
    }

    .page-template {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 20px;
        padding: 30px 0;
        box-shadow: 0 4px 1px #99d2a26e;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .register-template {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .profile-template {
        padding-top: 30px;
    }

    .register-template .page-title {
        font-size: 22px;
    }

    .register-template hr {
        margin: 0;
        margin-top: 0.1rem
    }

    .profile-template hr {
        margin: 0;
        margin-top: 0.5rem
    }

    .page-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .register-template .page-content {
        padding: 10px 0 0;
    }

    .healthiu-form {
        padding: 0 5rem;
    }

    .col-sm-2 {
        width: 30%;
    }

    .col-sm-10 {
        width: 70%;
    }

    .form-group {
        margin: 1rem;
    }

    .register-template .form-group {
        margin: 0.5rem;
    }

    .form-group>label {
        text-align: start;
        font-size: 18px;
    }

    .register-template .form-group>label {
        text-align: start;
        font-size: 14px;
    }

    .form-control {
        font-size: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .register-template .form-control {
        font-size: 14px;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .register-template .invalid-input,
    .register-template .invalid-input:empty {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 14px;
        border: none;
        padding: 0;
    }

    .two-btn-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .two-btn-row .btn-lg {
        --bs-btn-padding-x: 0;
        margin: 0 10%;
        flex-basis: 100%;
    }

    .form-btn-divider {
        height: 0.1rem;
    }

    .profile-template .form-btn-divider {
        height: 0;
        margin: 0;
    }

    .request-chatroom-text {
        margin-top: -30px;
    }

    .list-group {
        width: 70%;
    }

    .show-test-template .form-btn-divider {
        height: 1rem;
    }

    .chatroom-template {
        padding-top: 2rem;
    }

    .chatroom-template .page-content {
        padding: 10px 20px 0 20px;
    }

    .chatroom-chat-window {
        width: calc(100% - 2rem);
        border-radius: 20px;
        padding-top: 20px;
    }

    .messages .message .text-wrapper {
        width: calc(50% - 40px);
    }

    .chatroom-template .form-group {
        width: 100%;
        padding: 10px 10px 0 10px;
        bottom: 0;
        margin: 0;
        margin-bottom: 1rem;
    }

    .chatroom-textarea {
        height: 4.5rem;
    }

    .chatroom-template .form-control {
        height: auto;
        box-sizing: border-box;
        border: none;
        color: #1F6129;
        background: transparent;
        font-size: 16px;
        padding: 0;
        resize: none;
    }

    .chatroom-template .form-control:focus {
        border: none;
        box-shadow: none;
        border-radius: 0;
    }

    .admin-chatroom-template .list-group {
        width: 100%;
    }

    .admin-chatroom-add-chatroom {
        margin: 0.1rem 0.2rem;
    }

    .test-template .page-content{
        padding-bottom: 0;
    }

    .test-input .form-control {
        width: 400px;
    }

    .page-not-found-template {
        justify-content: center;
    }

    .user_login_input_wrapper {
        flex-direction: row;
        margin: 0;
    }
}