<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<p th:text="${user_exists}"></p>
<form id="register_form" th:action="@{/register}" th:object="${userData}" method="post">
    <div><label> Login : <input type="text" th:field="*{login}" name="login"/> </label>
                <div id="error_login" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
    </div>
    <div><label> Name : <input type="text" th:field="*{name}" name="name"/> </label>
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    <div><label> Email : <input type="text" th:field="*{email}" name="email"/> </label>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    <div><label> Password: <input type="password" th:field="*{password}" name="password"/> </label>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    <div><label> Confirm Password: <input type="password" th:field="*{confirm_password}" name="confirm_password"/> </label>
        <div th:if="${#fields.hasErrors('confirm_password')}" th:errors="*{confirm_password}"></div>
    </div>
    <div><label> Date of birth: <input type="date" th:field="*{date_of_birth}" name="date_of_birth"/> </label>
                <div th:if="${#fields.hasErrors('date_of_birth')}" th:errors="*{date_of_birth}"></div>
    </div>
    <div><input type="submit" value="Sign Up"/></div>
    <input type="button" onclick="location.href='/send'" name="action" value="send" />
</form>
</form>
</body>
</html>