<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!--    <link rel="stylesheet" href="css/style.css">-->
    <link rel="icon" type="image/png" th:href = "@{/img/clipboard-heart-fill.svg}">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <!-- <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"> -->

    <!--    <script th:src="@{/js/script.js}"></script>-->
    <title>HealthiU | Запит на чат</title>
</head>

<body>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/test">Healthi<coloru>U</coloru></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Healthi<coloru>U</coloru></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/test">Тест</a>
                    </li>
                    <span class="nav-item-divider"></span>
                    <li class="nav-item">
                        <a class="nav-link active" href="/chatroom">Повідомлення</a>
                    </li>
                    <span class="nav-item-divider"></span>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Мій профіль</a>
                    </li>
                    <span class="nav-item-divider"></span>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript: document.logoutForm.submit()">Вийти</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="page-template text-center request-chatroom-template">
    <div>
        <div class="page-title">
            Повідомлення
        </div>
        <hr>
    </div>
    <div class="page-content request-chatroom-request">
        <div th:if="${!requested}">
            <div class="request-chatroom-text">У Вас ще немає чату з консультацією. Якщо Ви хочете почати переписку
                з лікарем, надішліть запит кнопкою нижче.
                Майте на увазі, що консультація буде закрита за 30 хвилин після початку переписки. Нові запити
                прийматися не будуть,
                поки Ви не замовите VIP-статус. Ця опція з'явиться в наступних версіях.</div>
            <div class="form-btn-divider"></div>
            <button class="btn btn-primary btn-lg" onclick="requestChatRoom()">Надіслати запит на
                консультацію</button>
        </div>
        <div th:if="${requested}">
            <div class="requested-chatroom-text">Запит надісланий та обробляється</div>
            <div class="form-btn-divider"></div>
            <div class="requested-chatroom-icon">
            </div>
        </div>
    </div>
</div>
<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input type="submit" value="Sign Out"/>
</form>
<script th:inline="javascript">
    function requestChatRoom() {
        $.ajax({
            type: "GET",
            url: "/chatroom/request-chatroom/requested",
            success: function (response) {
                window.location.reload();
            }
        });
    }
</script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
</script>
</body>

</html>