<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!--    <link rel="stylesheet" href="css/style.css">-->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link rel = "icon" type = "image/png" th:href = "@{/img/clipboard-heart-fill.svg}">

    <title>HealthiU | Перегляд тесту</title>
</head>

<body>
<nav sec:authorize="!hasAuthority('ADMIN')"  class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/test">Healthi<coloru>U</coloru></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Healthi<coloru>U</coloru></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/test">Тест</a>
                    </li>
                    <span class="nav-item-divider"></span>
                    <li class="nav-item">
                        <a class="nav-link" href="/chatroom">Повідомлення</a>
                    </li>
                    <span class="nav-item-divider"></span>
                    <li class="nav-item">
                        <a class="nav-link active" href="/profile">Мій профіль</a>
                    </li>
                    <span class="nav-item-divider"></span>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript: document.logoutForm.submit()">Вийти</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<nav sec:authorize="hasAuthority('ADMIN')" class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/test">Healthi<coloru>U</coloru></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Healthi<coloru>U</coloru></h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/test">Тест</a>
                    </li>
                    <span class="nav-item-divider"></span>
                    <li class="nav-item">
                        <a class="nav-link" href="/chatroom">Чати</a>
                    </li>
                    <span class="nav-item-divider"></span>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin-register">Реєстрація</a>
                    </li>
                    <span class="nav-item-divider"></span>
                    <li class="nav-item">
                        <a class="nav-link active" href="/profile">Мій профіль</a>
                    </li>
                    <span class="nav-item-divider"></span>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript: document.logoutForm.submit()">Вийти</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="page-template text-center show-test-template">
    <div>
        <div class="page-title">
            Мій профіль
        </div>
        <hr>
    </div>
    <div class="page-content">
        <div class="container healthiu-form" th:if="${isTestInUser}">
            <div class="row">
                <div class="col show-test-row">
                    <div class="row">
                        <div class="col show-test-col-1">
                            Стать
                        </div>
                    </div>
                    <div class="row">
                        <div class="col show-test-col-2">
                            [[${gender}]]
                        </div>
                    </div>
                </div>
                <div class="col show-test-row">
                    <div class="row">
                        <div class="col show-test-col-1">
                            Вік
                        </div>
                    </div>
                    <div class="row">
                        <div class="col show-test-col-2">
                            [[${age}]]
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col show-test-row">
                    <div class="row">
                        <div class="col show-test-col-1">
                            Ріст
                        </div>
                    </div>
                    <div class="row">
                        <div class="col show-test-col-2">
                            [[${height}]]
                        </div>
                    </div>
                </div>
                <div class="col show-test-row">
                    <div class="row">
                        <div class="col show-test-col-1">
                            Вага
                        </div>
                    </div>
                    <div class="row">
                        <div class="col show-test-col-2">
                            [[${weight}]]
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col show-test-row">
                    <div class="row">
                        <div class="col show-test-col-1">
                            Обхват грудей
                        </div>
                    </div>
                    <div class="row">
                        <div class="col show-test-col-2">
                            [[${chestSize}]]
                        </div>
                    </div>
                </div>
                <div class="col show-test-row">
                    <div class="row">
                        <div class="col show-test-col-1">
                            Обхват талії
                        </div>
                    </div>
                    <div class="row">
                        <div class="col show-test-col-2">
                            [[${waistSize}]]
                        </div>
                    </div>
                </div>
                <div class="col show-test-row">
                    <div class="row">
                        <div class="col show-test-col-1">
                            Обхват стегон
                        </div>
                    </div>
                    <div class="row">
                        <div class="col show-test-col-2">
                            [[${hipSize}]]
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col show-test-row">
                    <div class="row">
                        <div class="col show-test-col-1">
                            Група крові
                        </div>
                    </div>
                    <div class="row">
                        <div class="col show-test-col-2">
                            [[${bloodType}]]
                        </div>
                    </div>
                </div>
                <div class="col show-test-row">
                    <div class="row">
                        <div class="col show-test-col-1">
                            ІМТ (індекс маси тіла)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col show-test-col-2">
                            [[${bmi}]]
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col show-test-row">
                    <div class="row">
                        <div class="col show-test-col-1">
                            Результат
                        </div>
                    </div>
                    <div class="row">
                        <div class="col show-test-col-2">
                            [[${testResult}]]
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-btn-divider"></div>
            <div class="form-btn-divider"></div>

            <div class="two-btn-row">
                <button id="back_to_edit_profile" class="btn btn-primary btn-lg" onclick="window.location.href='/profile'">Назад</button>
                <button id="go_to_user_test" sec:authorize="hasAuthority('DOCTOR')" class="btn btn-primary btn-lg" onclick="window.location.href='/profile/tests'">Знайти тест</button>
            </div>
        </div>
        <div class="container healthiu-form" th:if="${!isTestInUser}">
            <div class="requested-chatroom-text"> В профілі немає збереженого тесту. Натисніть на кнопку, щоб пройти тест.</div>
            <div class="form-btn-divider"></div>
            <div class="two-btn-row">
                <button id="go_to_test" class="btn btn-primary btn-lg" onclick="window.location.href='/test'">Пройти тест</button>
                <button id="back_to_edit_profile_testisntinuser" class="btn btn-primary btn-lg" onclick="window.location.href='/profile'">Назад</button>
            </div>
        </div>
    </div>
</div>
<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input type="submit" value="Sign Out"/>
</form>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
</script>
</body>

</html>